tags/model.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
			xmlns="http://dbfound.googlecode.com/model" targetNamespace="http://dbfound.googlecode.com/model">

	<xsd:element name="model">
		<xsd:complexType>
			<xsd:choice maxOccurs="unbounded" minOccurs="0">
				<xsd:element maxOccurs="unbounded" minOccurs="0" name="param" type="param_type" />
				<xsd:element maxOccurs="unbounded" minOccurs="0" name="query" type="query_type" />
				<xsd:element maxOccurs="unbounded" minOccurs="0" name="execute" type="execute_type" />
			</xsd:choice>
			<xsd:attribute name="connectionProvide" />
		</xsd:complexType>
	</xsd:element>

	<xsd:complexType name="query_type">
		<xsd:choice maxOccurs="unbounded" minOccurs="0">
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="param" type="param_type" />
			<xsd:element maxOccurs="1" minOccurs="1" name="sql" nillable="false" type="sql_type" />
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="filter">
				<xsd:complexType>
					<xsd:attribute name="active">
						<xsd:simpleType>
							<xsd:restriction base="xsd:NMTOKEN">
								<xsd:enumeration value="true" />
								<xsd:enumeration value="false" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
					<xsd:attribute name="name" />
					<xsd:attribute name="condition" />
					<xsd:attribute name="express" />
					<xsd:attribute name="dataType">
						<xsd:simpleType>
							<xsd:restriction base="xsd:NMTOKEN">
								<xsd:enumeration value="varchar" />
								<xsd:enumeration value="number" />
								<xsd:enumeration value="date" />
								<xsd:enumeration value="boolean" />
								<xsd:enumeration value="collection" />
								<xsd:enumeration value="file" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
					<xsd:attribute name="scope">
						<xsd:simpleType>
							<xsd:restriction base="xsd:NMTOKEN">
								<xsd:enumeration value="session" />
								<xsd:enumeration value="request" />
								<xsd:enumeration value="param" />
								<xsd:enumeration value="cookie" />
								<xsd:enumeration value="header" />
								<xsd:enumeration value="outParam" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
					<xsd:attribute name="sourcePath" />
					<xsd:attribute name="value" />
					<xsd:attribute name="innerPath" />
				</xsd:complexType>
			</xsd:element>
		</xsd:choice>
		<xsd:attribute name="pagerSize" />
		<xsd:attribute name="exportSize" />
		<xsd:attribute name="maxPagerSize" />
		<xsd:attribute name="name" />
		<xsd:attribute name="queryTimeout" />
		<xsd:attribute name="adapter" />
		<xsd:attribute name="entity" />
		<xsd:attribute name="connectionProvide" />
	</xsd:complexType>

	<xsd:complexType name="execute_type">
		<xsd:sequence>
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="param" type="param_type" />
			<xsd:element maxOccurs="1" minOccurs="0" name="sqls" type="sqls_type" />
		</xsd:sequence>
		<xsd:attribute name="name" />
		<xsd:attribute name="adapter" />
		<xsd:attribute name="connectionProvide" />
	</xsd:complexType>

	<xsd:complexType name="param_type">
		<xsd:attribute name="name" />
		<xsd:attribute name="dataType">
			<xsd:simpleType>
				<xsd:restriction base="xsd:NMTOKEN">
					<xsd:enumeration value="varchar" />
					<xsd:enumeration value="number" />
					<xsd:enumeration value="date" />
					<xsd:enumeration value="boolean" />
					<xsd:enumeration value="collection" />
					<xsd:enumeration value="file" />
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="scope">
			<xsd:simpleType>
				<xsd:restriction base="xsd:NMTOKEN">
					<xsd:enumeration value="session" />
					<xsd:enumeration value="request" />
					<xsd:enumeration value="param" />
					<xsd:enumeration value="cookie" />
					<xsd:enumeration value="header" />
					<xsd:enumeration value="outParam" />
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="autoSession">
			<xsd:simpleType>
				<xsd:restriction base="xsd:NMTOKEN">
					<xsd:enumeration value="true" />
					<xsd:enumeration value="false" />
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="autoCookie">
			<xsd:simpleType>
				<xsd:restriction base="xsd:NMTOKEN">
					<xsd:enumeration value="true" />
					<xsd:enumeration value="false" />
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="value" />
		<xsd:attribute name="ioType">
			<xsd:simpleType>
				<xsd:restriction base="xsd:NMTOKEN">
					<xsd:enumeration value="out" />
					<xsd:enumeration value="in" />
					<xsd:enumeration value="both" />
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="UUID">
			<xsd:simpleType>
				<xsd:restriction base="xsd:NMTOKEN">
					<xsd:enumeration value="true" />
					<xsd:enumeration value="false" />
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="batchAssign">
			<xsd:simpleType>
				<xsd:restriction base="xsd:NMTOKEN">
					<xsd:enumeration value="true" />
					<xsd:enumeration value="false" />
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="sourcePath" />
		<xsd:attribute name="fileSaveType">
			<xsd:simpleType>
				<xsd:restriction base="xsd:NMTOKEN">
					<xsd:enumeration value="db" />
					<xsd:enumeration value="disk" />
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="fileNameParam" />
		<xsd:attribute name="innerPath" />
	</xsd:complexType>

	<xsd:complexType name="sql_type" mixed="true">
		<xsd:sequence>
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="sqlPart" type="sqlPart_type" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="sqlPart_type" mixed="true">
		<xsd:attribute name="type">
			<xsd:simpleType>
				<xsd:restriction base="xsd:NMTOKEN">
					<xsd:enumeration value="if" />
					<xsd:enumeration value="for" />
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="condition" />
		<xsd:attribute name="sourcePath" />
		<xsd:attribute name="separator" />
		<xsd:attribute name="begin" />
		<xsd:attribute name="end" />
	</xsd:complexType>

	<xsd:complexType name="sqls_type">
		<xsd:choice maxOccurs="unbounded" minOccurs="0">
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="executeSql" type="executeSql_type" />
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="batchExecuteSql" type="batchExecuteSql_type" />
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="querySql"/>
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="java" type="java_type" />
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="caseSql" type="caseSql_type" />
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="whenSql" type="whenSql_type" />
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="otherwiseSql" type="otherwiseSql_type" />
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="collisionSql" type="collisionSql_type" />
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="batchSql" type="batchSql_type" />
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="execute">
				<xsd:complexType>
					<xsd:attribute name="modelName" />
					<xsd:attribute name="name" />
					<xsd:attribute name="currentPath" />
				</xsd:complexType>
			</xsd:element>
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="query">
				<xsd:complexType>
					<xsd:attribute name="modelName" />
					<xsd:attribute name="name" />
					<xsd:attribute name="currentPath" />
					<xsd:attribute name="rootPath" />
					<xsd:attribute name="entity" />
				</xsd:complexType>
			</xsd:element>
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="excelReader">
				<xsd:complexType>
					<xsd:attribute name="sourceParam" />
					<xsd:attribute name="rootPath" />
				</xsd:complexType>
			</xsd:element>
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="setContextData" type="setContextData_type"/>
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="printContext"/>
		</xsd:choice>
	</xsd:complexType>

	<xsd:complexType name="caseSql_type">
		<xsd:choice maxOccurs="unbounded" minOccurs="0">
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="whenSql" type="whenSql_type" />
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="otherwiseSql" type="otherwiseSql_type" />
		</xsd:choice>
	</xsd:complexType>

	<xsd:complexType name="whenSql_type">
		<xsd:choice maxOccurs="unbounded" minOccurs="0">
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="executeSql" type="executeSql_type" />
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="batchExecuteSql" type="batchExecuteSql_type" />
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="querySql" />
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="java" type="java_type" />
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="caseSql" type="caseSql_type" />
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="whenSql" type="whenSql_type" />
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="otherwiseSql" type="otherwiseSql_type" />
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="collisionSql" type="collisionSql_type" />
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="batchSql" type="batchSql_type" />
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="execute">
				<xsd:complexType>
					<xsd:attribute name="modelName" />
					<xsd:attribute name="name" />
					<xsd:attribute name="currentPath" />
				</xsd:complexType>
			</xsd:element>
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="query">
				<xsd:complexType>
					<xsd:attribute name="modelName" />
					<xsd:attribute name="name" />
					<xsd:attribute name="currentPath" />
					<xsd:attribute name="rootPath" />
					<xsd:attribute name="entity" />
				</xsd:complexType>
			</xsd:element>
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="excelReader">
				<xsd:complexType>
					<xsd:attribute name="sourceParam" />
					<xsd:attribute name="rootPath" />
				</xsd:complexType>
			</xsd:element>
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="setContextData" type="setContextData_type"/>
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="printContext"/>
		</xsd:choice>
		<xsd:attribute name="when" />
	</xsd:complexType>

	<xsd:complexType name="otherwiseSql_type">
		<xsd:choice maxOccurs="unbounded" minOccurs="0">
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="executeSql" type="executeSql_type" />
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="batchExecuteSql" type="batchExecuteSql_type" />
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="querySql" />
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="java" type="java_type" />
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="caseSql" type="caseSql_type" />
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="whenSql" type="whenSql_type" />
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="otherwiseSql" type="otherwiseSql_type" />
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="collisionSql" type="collisionSql_type" />
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="batchSql" type="batchSql_type" />
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="execute">
				<xsd:complexType>
					<xsd:attribute name="modelName" />
					<xsd:attribute name="name" />
					<xsd:attribute name="currentPath" />
				</xsd:complexType>
			</xsd:element>
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="query">
				<xsd:complexType>
					<xsd:attribute name="modelName" />
					<xsd:attribute name="name" />
					<xsd:attribute name="currentPath" />
					<xsd:attribute name="rootPath" />
					<xsd:attribute name="entity" />
				</xsd:complexType>
			</xsd:element>
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="excelReader">
				<xsd:complexType>
					<xsd:attribute name="sourceParam" />
					<xsd:attribute name="rootPath" />
				</xsd:complexType>
			</xsd:element>
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="setContextData" type="setContextData_type"/>
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="printContext"/>
		</xsd:choice>
	</xsd:complexType>

	<xsd:complexType name="batchSql_type">
		<xsd:choice maxOccurs="unbounded" minOccurs="0">
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="executeSql" type="executeSql_type" />
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="batchExecuteSql"  type="batchExecuteSql_type" />
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="querySql" />
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="java" type="java_type" />
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="caseSql" type="caseSql_type" />
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="whenSql" type="whenSql_type" />
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="otherwiseSql" type="otherwiseSql_type" />
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="collisionSql" type="collisionSql_type" />
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="batchSql" type="batchSql_type" />
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="execute">
				<xsd:complexType>
					<xsd:attribute name="modelName" />
					<xsd:attribute name="name" />
					<xsd:attribute name="currentPath" />
				</xsd:complexType>
			</xsd:element>
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="query">
				<xsd:complexType>
					<xsd:attribute name="modelName" />
					<xsd:attribute name="name" />
					<xsd:attribute name="currentPath" />
					<xsd:attribute name="rootPath" />
					<xsd:attribute name="entity" />
				</xsd:complexType>
			</xsd:element>
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="excelReader">
				<xsd:complexType>
					<xsd:attribute name="sourceParam" />
					<xsd:attribute name="rootPath" />
				</xsd:complexType>
			</xsd:element>
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="setContextData" type="setContextData_type"/>
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="printContext"/>
		</xsd:choice>
		<xsd:attribute name="cursor" />
		<xsd:attribute name="sourcePath" />
		<xsd:attribute name="cursorRootPath" />
	</xsd:complexType>

	<xsd:complexType name="executeSql_type" mixed="true">
		<xsd:sequence>
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="sqlPart" type="sqlPart_type" />
		</xsd:sequence>
		<xsd:attribute name="generatedKeyParam" />
		<xsd:attribute name="affectedCountParam" />
	</xsd:complexType>

	<xsd:complexType name="setContextData_type">
		<xsd:attribute name="name" />
		<xsd:attribute name="value" />
		<xsd:attribute name="param" />
		<xsd:attribute name="sourcePath" />
		<xsd:attribute name="valueTemplate" />
		<xsd:attribute name="scope" >
			<xsd:simpleType>
				<xsd:restriction base="xsd:NMTOKEN">
					<xsd:enumeration value="session" />
					<xsd:enumeration value="request" />
					<xsd:enumeration value="param" />
					<xsd:enumeration value="cookie" />
					<xsd:enumeration value="header" />
					<xsd:enumeration value="outParam" />
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="inCurrentPath" >
			<xsd:simpleType>
				<xsd:restriction base="xsd:NMTOKEN">
					<xsd:enumeration value="true" />
					<xsd:enumeration value="false" />
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
	</xsd:complexType>

	<xsd:complexType name="batchExecuteSql_type" mixed="true">
		<xsd:attribute name="sourcePath" />
		<xsd:attribute name="affectedCountParam" />
		<xsd:attribute name="batchSize" />
	</xsd:complexType>

	<xsd:complexType name="java_type">
		<xsd:attribute name="className" />
		<xsd:attribute name="method" />
	</xsd:complexType>

	<xsd:complexType name="collisionSql_type">
		<xsd:attribute name="where" />
		<xsd:attribute name="message" />
		<xsd:attribute name="code" />
	</xsd:complexType>

</xsd:schema>